<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JDEG Api</title>
</head>
<body>
    <div>
        <h1>Api Project</h1>
        <ul>
            <li><a href="{% url 'swagger' %}">Vista Swagger API</a></li>
            <li><a href="{% url 'redoc' %}">Vista Redoc API</a></li>
        </ul>
    </div>
</body>
</html>