upstream uwsgi_app {
    server unix:/src/django_project/uwsgi_app.sock;
}

server {
    listen 8023;
    server_name localhost;
    error_log stderr warn;
    access_log /dev/stdout main;

    location / {
        include /etc/nginx/uwsgi_params;
        uwsgi_pass uwsgi_app;
    }

    location /static/ {
        alias /src/django_project/static/;
    }
    location /media/ {
    alias /src/django_project/media/;
    }
}